* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-position: 0 0;
    background-image: url("/images/login.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    text-align: center;
}

.navbar {
    position: sticky;
    margin: 0;
    width: 100%;
    background-color: #FFFFFF;
    display: block;
    float: left;
}

.nav-item {
    text-align: center;
    color: #777777;
    text-decoration: none;
    padding: 10px;
    float: left;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.nav-item:hover {
    background-color: lightgray;
}

img {
    height: 5vh;
}

.nav-item p {
    margin: 5px 0;
    font-size: 1em;
}

.active {
    color: #333333;
}

#taskListId li {
    list-style: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    height: 5em;
    width: 10vw;
    margin-right: 10px;
    margin-top: 13px;
    line-height: 1.5;
    text-align: center;
    float: right;
}

button:hover {
    background-color: #0056b3;
}

#miniLeaderboard {
    float: left;
    clear: left;
    min-width: 249px;
    width: 15vw;
    padding-bottom: 10px;
    padding-top: 10px;
}

h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

#miniLeaderboard li {
    text-align: right;
}

#roadmap {
    float: right;
    width: 15vw;
}

.top-container {
    margin-top: 10px;
    padding: 10px;
}

.left-container {
    width: 15vw;
    margin: 10px;
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}

.right-container {
    margin-right: 10px;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

#reminders {
    clear: left;
    min-width: 249px;
    width: 15vw;
    padding: 10px;
}

#reminders p {
    word-wrap: break-word; 
    background-color: rgba(0, 123, 255, 0.5);
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

#roadmap {
    float: right;
}

#progress {
    float: right;
    width: 65vw;
    height: 86vh;
    margin-right: 10px;
    padding: 0;
}

.progress-meter {
    width: 95%;
    height: 10vh;
    margin: auto;
    background-color: lightgray;
    border-radius: 20px;
}

.progress-inside {
    padding: 0;
    width: 95%;
    height: 10vh;
    background-color: green;
    border-radius: 20px;
}

#progress h1 {
    text-align: center;
}

input[type=checkbox] {
    transform: scale(1.5); /* Adjust the scale factor as needed */
    margin-left: 50px;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
}

input[type=checkbox], label {
    margin-bottom: 15px;
}

/* Increase the font size of the label text */
label {
    font-size: 1.5em; /* Adjust the font size as needed */
    margin-left: 10px;
}

#tasks-container {
    float: left;

#logout {
float: right;
}