<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/homePage.css')}}">
    <title>Marina</title>
</head>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<body>
    <a href="{{ url_for('home') }}">Home</a>
<a href="{{ url_for('tasks') }}">Tasks</a>
    <div class="center">
<img src="../static/images/LogInHome.png">
    </div>

 <!-- Title of app  -->
    <h1 id="appTitleId" class="center">MARINA</h1>

     <!-- form to get login info  -->
<form id="inputFormId">

 <!-- Input Table  -->
 <table id="inputTableId" class="center">
<tr>
<td>
    <label for="inputUserName"> User: </label>
    <br>
    <input id="inputUserName" placeholder="Enter an email">
</td>
</tr>

<tr>
    <td>
        <label for="inputPassword"> Password: </label>
        <br>
        <input id="inputPassword">
    </td>    
</tr>
 </table>

 <!-- buttons under input  -->
<div id="buttonDivId" class="center">
    <button type="button" onclick="logInUser(this.form)"> Login </button>
</div>


</form>
</body>
</html>